.add-main {
    background: var(--secondary);
}


.book-add-wrapper {
    height: 100%;
    background: var(--card);
    padding: 0.5rem;
}

.book-form {
    input {
        border: 2px solid var(--text-subtle);
        border-radius: 5px;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

        &:focus {
            outline: none;
            border-color: var(--accent);
        }
    }

}

.search-book {
    background-color: transparent;
    border: none;
    display: flex;
    flex-grow: 1;
    border-bottom: 2px solid var(--text-subtle);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    border-radius: 0;

    &:focus {
        border-bottom: 2px solid var(--accent);
        outline: none;
    }
}
